.card {
  position: relative;

  .front-card {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
  }

  .back-card {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }

  img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
  }

  .flipped-card {
    .front-card {
      transform: rotateY(0deg);
      transition-delay: 0.2s;
    }

    .back-card {
      transform: rotateY(90deg);
      transition-delay: 0s;
    }
  }
}
@media only screen and (max-width: 440px) {
  .card {
    width: 70px;
    height: 70px;
  }
}
